*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* INICIO HEADER */
.nav {
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a {
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}

.nav-list a:hover {
    color: white;
}

/* FIM HEADER */

/* INICIO MAIN */
.main {
    width: 100%;
    background-color: black;
    height: calc(100vh - 80px);
    background: url('../imagens/programador.png') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1 {
    color: white;
    font-size: 54px;
}

.main p {
    font-size: 24px;
    font-style: italic;
    color: #1e96fc;
    margin-top: 10px;
    margin-bottom: 35px;
}

.call-to-action {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}

.call-to-action:hover {
    transform: scale(1.1);
    transition: 0.9s;
}

.main a {
    text-decoration: none;
    color: #181818;
}
/* FIM MAIN */

/* INICIO SOBRE */
.sobre {
    background-color: white;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre div {
    max-width: 50%;
    margin-right: 40px;
}

.sobre img {
    max-width: 480px;
    border-radius: 8px;
}

.sobre div h1 {
    font-size: 32px;
    margin-bottom: 14px;
}
/* FIM SOBRE */

/* INICIO PROJETOS  */
.projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.projetos h2 {
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projetos p {
    margin-bottom: 40px;
    font-style: italic;
}

.projeto-lista {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos img {
    width: 22%;
    margin: 0 0.5%;
    opacity: 0.8;
    transition: 0.9s;
}

.projetos img:hover {
    opacity: 1;
}

.button {
    background-color: #181818;
    border: 0;
    padding: 12px 28px;
    border-radius: 4px;
    color: white;
    margin-top: 18px;
    cursor: pointer;
}
/* FIM PROJETOS */

/* INICIO RODAPE */
footer {
    width: 100%;
    background-color: #181818;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin-left: 12px;
    font-size: 14px;
}

/* FIM RODAPE */

/*RESPONSIVIDADE */
@media  (max-width: 1050px) {
    /* INICIO MAIN */
    .main h1 {
        font-size: 45px;
    }

    .main p {
        font-size: 18px;
    }
    /* FIM MAIN */

    /* INICIO SOBRE */
    .sobre {
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .sobre div {
        max-width: 80%;
    }

    .sobre div h2 {
        font-size: 45px;
    }

    .sobre img {
        width: 80%;
        margin-top: 18px;
    }
    /* FIM SOBRE */

    /* INICIO PROJETOS */
    .projetos img {
        width: 27.5%;
    }
    /* FIM PROJETOS */

    /* INICIO RODAPE */
    footer {
        flex-direction: column;
    }

    footer h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    footer p {
        margin: 0;
    }
    /* FIM RODAPE */

}